body {background-color: lightblue;}

h1 {font-size: 20;}
h1 {color: palevioletred;}
h1 {background-color: aliceblue;}
h1 {width: 150px;}

h4 {font-size: medium;}
h4 {background-color: skyblue;}
h4 {width: 150px;}